<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
    	h1{margin: 100px 368px;color: white;}

    	body{background: lightblue url(../images/bg1.jpg) no-repeat;background-size: 100%;}
    	.box{width: 400px;height: 300px;margin: auto;}
    	input{width: 70px;height: 35px;}
    </style>
  </head>
  <body>
  	<div class="header"></div>
    <h1> <%= title1 %></h1>
	<div class="box">
		<% if(username){ %>
			<input type="button" name="loginname" id="loginname" onclick="location.href='/loginout'" value="退出">
		    <input type="button" name="register" id="register" onclick="location.href='/comment'" value="评论">
		<% }else{ %>
			<input type="button" name="loginname" id="loginname" onclick="location.href='/login'" value="登陆">
		    <input type="button" name="register" id="register" onclick="location.href='/register'" value="注册">
		<% } %>
		
	</div>
  </body>
</html>
