<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
    	h1{margin: 100px 418px;color:purple;}

    	body{background: lightblue url(../images/login.jpg) no-repeat;background-size: 100%;}
    	.box{width: 400px;height: 300px;margin: auto;}
    	input{width: 350px;height: 35px;margin-top: 20px; opacity: 0.6}
    </style>
  </head>
  <body>
  	<div class="header"></div>
    <h1> <%= title1 %></h1>
	<form class="box" action="/users/save" method="post">
		<input type="text" name="registername" id="registername" placeholder="请输入账号"><br />
    <input type="text" name="nickname" id="nickname" placeholder="请输入昵称">
    <input type="text" name="registerpsw" id="registerpsw" placeholder="请输入密码">
    <input type="text" name="reregisterpsw" id="reregisterpsw" placeholder="请再次输入密码">
		<input type="submit" name="register" id="register" value="注册">
	</form>
  </body>
</html>
